footer {
  background-color: #54b9efbe;
}

.footer__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  max-width: 1200px;
}

.footer__link,
.footer__sponsor {
  margin-right: 20px;
  color: #005a00;
  font-weight: bold;
}